.navbar {
    display: flex;
    gap: 35px;
    align-items: center;
    padding: 45px 50px 20px 50px;
    font-weight: 500;
    @media screen and (width <= 768px) {
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: #ff6060;
        &:hover {
            text-decoration: underline;
        }
    }

    .navbar_logo {
        margin-right: auto;
    }
}
