$couleur-primaire: #ff6060;
$couleur-secondaire: #f6f6f6;
$couleur-tertiaire: #ffffff;
$linear-gradient-card: linear-gradient(180deg, #ff6060 0%, rgba(0, 0, 0, 0.6) 200%);

$footer-background: #000000;
